<p style="color: green"><%= notice %></p>

<div class="posts-wrapper", id="posts">
  <%= render @posts %>
</div>

<div class="post-form-wrapper", id="form">
  <%= render "form", post: @post %>
</div>
